In [1]:
# Import Library

import pickle
import json
import pandas as pd

In [2]:
# Load the combined pipeline
with open('pipeline.pkl', 'rb') as file:
    pipeline = pickle.load(file)

# Load the list of numeric columns
with open('num_cols.json', 'r') as file:
    num_cols = json.load(file)

# Load the list of categorical columns (object type)
with open('cat_cols_object.json', 'r') as file:
    cat_cols_object = json.load(file)

# Load the list of categorical columns (number type)
with open('cat_cols_number.json', 'r') as file:
    cat_cols_number = json.load(file)

In [3]:
# create new data for inferencing
data_inf = {
    'Airline': 'OH',
    'Flight': 2067,
    'AirportFrom': 'SFO',
    'AirportTo': 'ATL',
    'DayOfWeek': 3,
    'Time': 600,
    'Length': 120,
}

data_inf = pd.DataFrame([data_inf])
data_inf

  Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length
0      OH    2067         SFO       ATL          3   600     120

In [4]:
y_pred = pipeline.predict(data_inf)
y_pred

array([0], dtype=int64)